body {
  background: #548;
}

a:hover {
  color: white;
}

.simple-header {
  margin-top: 30px;
}

.graphic-menu {
  margin-bottom: 70px;
}

.heavy {
  font-size: 30px;
  color: #FFB440;
  margin-top: 45px;
}

.heavy-middle {
  font-size: 30px;
  color: #FFB440;
  border-left: 2px solid #6652A3;
  border-right: 2px solid #6652A3;
  padding: 30px;
  margin-top: 18px;
}

  .heavy-middle h5:nth-child(3) {
    margin-top: 37px;
  }

.title {
  font-size: 24px;
  font-family: "Korolev-Light", sans-serif;
  color: #D9CCFF;
}

.view-docs {
  color: white;
  text-decoration: underline;
}

.question {
  font-size: 18px;
  color: white;
}

.answer {
  font-size: 18px;
  color: white;
  text-decoration: underline;
  padding-top: 4px;
}

p.answer {
  text-decoration: none;
}

.row div:nth-child(2) h5:nth-child(5){
  margin: 30px 0;
}
